<div class="card">
    <div class="headers header-title">
        <p>Nome</p>
        <p>Objetivo</p>
        <p>Saldo total</p>
    </div>
    
    <div *ngFor="let investment of investmentList" class="content-row row-line">
        <div *ngIf="investment.isCarencia()" (click)="goToInvestment(investment)">
            <p>{{ investment.getNome() }}</p>
            <p>{{ investment.getObjetivo() }}</p>
            <p>{{ investment.getSaldoTotal() | currency:'R$':'symbol':'1.2-2' }}</p>
        </div>
        <div *ngIf="!investment.isCarencia()" class="disabled">
            <p>{{ investment.getNome() }}</p>
            <p>{{ investment.getObjetivo() }}</p>
            <p>{{ investment.getSaldoTotal() | currency:'R$':'symbol':'1.2-2' }}</p>
        </div>
    </div>
</div>