<div class="card">
    <div class="headers header-title">
        <p>Nome</p>
        <p>Objetivo</p>
        <p>Saldo total</p>
    </div>
    <div class="content-row row-line">
        <p>INVESTIMENTO I</p>
        <p>Minha aposentadoria</p>
        <p>39321.29</p>
    </div>
    <div class="content-row row-line">
        <p>INVESTIMENTO II</p>
        <p>Minha aposentadoria</p>
        <p>5466.29</p>
    </div>
    <div class="content-row row-line">
        <p>INVESTIMENTO III</p>
        <p>Minha aposentadoria</p>
        <p>5466.29</p>
    </div>
    <div class="content-row row-line">
        <p>INVESTIMENTO IV</p>
        <p>Minha aposentadoria</p>
        <p>5466.29</p>
    </div>
</div>